body{
    background-image: url('./PNG-cards-1.3/black-jack-table.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}

header h1{
    text-align: center;
    background-color: white;
    color: black;
    height: 4rem;
}

#msg-board {
    border: 2px solid white;
    text-align: center;
    margin: 20px 0;
}

img {
    width: 12rem;
}

@media only screen and (max-width: 500px) {
    img {
        width: 6rem;
    }

    body{
        background: green;
        color: white;
    }
}